.App {
  text-align: center;
}

.App-header {
  background-color: #283142;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color:rgb(24, 70, 70);
}

ul{
  list-style-type:none;
  
}

a{
  color:aliceblue;
  font-size:24px;
  text-decoration:none;
}


a:hover{
  color:green;
}
 
link:active{ /* NOT WORKING!!! */
  color:red;
}
